* {
  margin: 0;
  padding: 0;
}

.full-screen {
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}

.cookie-content {
  background: rgb(27, 27, 184);
  background: linear-gradient(291deg, rgba(27, 27, 184, 1) 0%, rgba(9, 9, 121, 1) 100%);
  color: white;
  border-radius: 20px;
  border: 2px solid white;
}

.text-content a {
  transition: 0.4s;
  border-radius: 7px;
}

.text-content a:hover {
  color: white;
  background: #6E2D2D !important;
}